<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            {{ with .Site.Params.twitter_id }}
            <span class="icon is-large"><a href="https://twitter.com/{{.}}/" class="mysocial" rel="me"><i
                        class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            {{ end }}
            {{ with .Site.Params.github_id }}
            <span class="icon is-large"><a href="https://github.com/{{.}}/" class="mysocial" rel="me"><i
                        class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;
            {{ end }}
            {{ with .Site.Params.website }}
            <span class="icon is-large"><a href="{{.}}" class="mysocial" rel="me"><i
                        class="fas fa-home fa-3x"></i></a></span>&nbsp;&nbsp;
            {{ end }}
            <br><br>
            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}} - Theme by <a href="https://jeffprod.com"
                class="mysocial">JeffProd.com</a>
            - <a class="mysocial" href="{{ "about" | absURL }}">About</a>
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" data-ad-client="ca-pub-1234567890123456"></script>
</body>

</html>