<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}" />
    {{ if isset .Params "eyecatch" }}
    <meta property="og:image:secure_url" content="{{ path.Join .Permalink .Params.eyecatch }}" />
    <meta property="twitter:image" content="{{ path.Join .Permalink .Params.eyecatch }}" />
    {{ end }}
    <meta property="og:description"
        content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}" />

    <meta name="twitter:card" content="summary" />
    {{ with .Site.Params.twitter_id }}
    <meta name="twitter:site" content="@{{ . }}" />
    {{ end }}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" />
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ if eq .Site.IsServer false }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
</head>

<body>

    <!-- nav -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ .Site.BaseURL | absURL }}">Home</a>
        </div>
    </nav>
    <!-- /nav -->

    <!-- hero -->
    <section class="hero is-info is-medium">
        <div class="hero-body"
            style="background-image: url({{ if isset .Params "eyecatch" }}{{ .Params.eyecatch }}{{ else }}{{ "img/bg-blog.jpg" | absURL }}{{ end }});">
            <div class="container has-text-centered">
                <br>
                <h1 class="title is-size-3 is-size-1-desktop">
                    <a href="{{ .Site.BaseURL | absURL }}">
                        {{ .Site.Title }}
                    </a>
                </h1>
                <p>{{ .Site.Params.site_description }}</p>
            </div>
        </div>
    </section>